.scrollTop {
    position: fixed; 
    width: 15%;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    background-color: #fff;
    color: #002f34;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 1px lightgrey;
    outline: none !important;
}

.scrollTop:active , .scrollTop:focus{
    outline: none !important;
    background-color: #002f34;
    color: #fff;
}