.latest-recommand-container{
    width: 90%;
    margin: 20px auto;
}

.recommand-heading > h3{
    font-weight: 400;
}

footer{
    text-align: center;
}

footer > .load-more-button{
    color: #002f34 !important;
    border-radius: 4px;
    border: 2px solid #002f34;
    padding: 10px;
    background-color: white !important;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

footer > .load-more-button:hover{
    border: 5px solid #002f34;;
}

footer > .load-more-button:active{
    background-color: gray !important;
}