.main-list .navbar{
    width: 90%;
    margin: 0 auto;
    justify-content: start;
    background: white !important;
}

.main-list .navbar h6{
    margin-bottom: 0;
    font-size: 13px;
}

.list-mobile .nav-link{
    padding: 0 !important;
    font-size: 12.5px;
    color: rgba(0,47,52,.64) !important;
}

.list-mobile .nav-link:hover{
    color: black !important;
}


.list-mobile a::after{
    content: "-";
    margin: 0 10px;
}

.list-mobile a:last-child::after{
    content: none;
}
